################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ipch
/.vs/xllrandom/v15
/.vs
/Debug
/ud
